<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
	<appSettings>
		<!--CREAMOS <appSettings> PARA PODER CONGIURAR LA RUTA DE ACCESO A LA CARPETA
		DONDE SE ENCUENTRA LAS IMAGENES DE LA APP QUE VAMOS A UTILIZAR EN ALGUN PUNTO DE
		LA APLICACION Y QUE LUEGO SE GUARDARA, DICHA RUTA, EN LA BD DE SQL-->
		<add key="carpetaImagen" value="C:\config-app-Cursos\Pokemons\"/>
		<!--AÑADIMOS UNA CLAVE PARA GUARDAR LA IMAGEN Y SU value = RUTA DONDE SE ENCUENTRA-->
	</appSettings>
</configuration>
